<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/admin/adminPage/sidebar.css}">
<title>Insert title here</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
function navigateTo(url) {
  window.location.href = url;
}
$(document).ready(function() {
    $(".accordion").click(function() {
        console.log("Clicked"); // Debugging message
        $(this).toggleClass("active");
        $(this).siblings(".panel").slideToggle("fast");
    });
});

</script>
</head>
<body>
<div class="Banner"><a href="/admin/adminPage"><img src="/images/admin/banner.png"></a></div>
	<div class="Sidebar">
		<div class="sidebar_menu">
			<ul>
				<li class="space"></li>
				<li class="side_dashboard"  onclick="navigateTo('/admin/adminPage')">
					<a href="/admin/adminPage">대시보드</a>
				</li>
				<li class="side_user" onclick="navigateTo('/admin/users/usersList')">
						<a href="/admin/users/usersList">회원 관리</a>		
				</li>
				<li class="side_business" onclick="navigateTo('/admin/business/businessList')">
						<a href="/admin/business/businessList">업체 관리</a>
				</li>
				<li class="side_accomodation"  onclick="navigateTo('/admin/accomodation/accomodationList')">
					<a href="/admin/accomodation/accomodationList">숙소 관리</a>
				</li>
				<li class="side_activity"  onclick="navigateTo('/admin/activity/activityList')">
					<a href="/admin/activity/activityList">액티비티 관리</a>
				</li>
				<li class="side_reservation">
				    <a href="#" class="accordion">예약 내역</a>
				    <ul class="panel" style="display: none;">
						<li onclick="navigateTo('/admin/accomodationRv/accomodationRvList')">
							<a href="/admin/accomodationRv/accomodationRvList">숙소 예약</a>
						</li>
				        <li onclick="navigateTo('/admin/activityRv/activityRvList')">
							<a href="/admin/activityRv/activityRvList">액티비티 예약</a>
						</li>
				    </ul>
				</li>
				<li class="side_addContent">
				    <a href="#" class="accordion">컨텐츠 추가</a>
				    <ul class="panel" style="display: none;">
				        <li onclick="navigateTo('/admin/addAccomodation')">
							<a href="/admin/addAccomodation">숙소 추가</a>
							</li>
				        <li onclick="navigateTo('/admin/addActivity')">
							<a href="/admin/addActivity">액티비티 추가</a>
							</li>
				    </ul>
				</li>
				<li class="side_message"  onclick="navigateTo('/admin/sendMail')">
					<a href="/admin/sendMail">메일 보내기</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="Header">
			<span class="header-text">
				관리자 페이지
			</span> 
			<div class="header-right">
				<button class="header_logout">로그아웃</button>
			</div>
	</div>
</body>
</html>