
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
 margin: 0 auto;
}.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P {
	margin-top: 120px;
  width: 100%;
   height: auto;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;	
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .heading-3--Rqj {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  color: #222222;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  justify-content: flex-start;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4-MN1 {
  box-sizing: border-box;
    /* padding: 2.74rem 9.167rem 2.779rem 2.497rem; */
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    border-top: solid 0.2rem #222222;
    flex-shrink: 0;
    position: relative;
    justify-content: space-between;

}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4-MN1 .item--Tfw {
  margin-left: 1rem;
  font-size: 1rem;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4-MN1 .divbrdright-vpR {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4-MN1 .divbrdright-vpR .spanh2d-68d532b5-F61 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4-MN1 .divbrdright-vpR .spanh2d-68d532b5-F61 .item-20230619-enM {
  margin-right: 1.835rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4-MN1 .divbrdright-vpR .spanh2d-68d532b5-F61 .pseudo-sf7 {
  margin-top: 0.06rem;
  width: 0.1rem;
  height: 1.2rem;
  background-color: #dddddd;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4-MN1 .divbrdright-vpR .item-783-Q9F {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: 1rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH {
  margin-bottom: 1.738rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem #222222;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .divreportbox-qEZ {
  box-sizing: border-box;
  padding: 0rem 0.8rem 0rem 0.8rem;
  width: 100%;
  height: 4.3rem;
  display: flex;
  align-items: center;
  border-bottom: solid 0.1rem #dddddd;
  flex-shrink: 0;
  justify-content: space-between;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .divreportbox-qEZ .divtxtguide-8zM {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .divreportbox-qEZ .divtxtguide-8zM .pseudo-RCm {
  margin-right: 0.798rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  flex-shrink: 0;
  border-radius: 1rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .divreportbox-qEZ .divtxtguide-8zM .item--uNq {
  display: flex;
  font-size: 1rem;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .divreportbox-qEZ .left-co3 {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .divreportbox-qEZ .left-co3 .item--NnD {
  margin-right: 1.2rem;
  display: flex;
  font-size: 1rem;
  color: #848484;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .divreportbox-qEZ .left-co3 .item--UqF {
  display: flex;
  font-size: 1rem;
  color: #848484;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 1rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-217f-SvV {
  width: 100%;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-217f-SvV .item-10--MnZ {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  font-size: 1.2rem;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-217f-SvV .item--NSm {
   width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  font-size: 1.2rem;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  }
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-glfk-1kd {
  width: 22.5rem;
  height: 4.999rem;
  position: relative;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-glfk-1kd .item--ANd {
  width: 22.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-glfk-1kd .item--1u3 {
  width: 14.7rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 2.499rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-osqm-fTo {
  width: 27.1rem;
  height: 7.498rem;
  position: relative;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-osqm-fTo .item--P8u {
  width: 18.6rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-osqm-fTo .item--fMK {
  width: 27.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 2.499rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-osqm-fTo .item--j6H {
  width: 12.4rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 4.998rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-2c73-CEm {
  width: 15.8rem;
  height: 7.498rem;
  position: relative;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-2c73-CEm .item--YJd {
  width: 15.8rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-2c73-CEm .item--RdK {
  width: 14.9rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 2.499rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .auto-group-bjbf-WX3 .auto-group-2c73-CEm .item--fGm {
  width: 14.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 4.998rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7857142857;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .figure-20230619104423766001040jpg-XZs {
  width: 87rem;
  height: 87rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/community/figure-20230619104423766001040jpg.png');
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divbrdeditor-WCH .diveditorarea-BDs .figure-20230619104422838001047jpg-q4m {
  width: 87rem;
  height: 87rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/community/figure-20230619104422838001047jpg.png');
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .heading-4--L1X {
  margin-bottom: 1em;
  display: flex;
  font-size: 1.5rem;
  color: #222222;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK {
  box-sizing: border-box;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  flex-shrink: 0;
  padding-left: 1rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .c588e936f0127c1002d95ffc681d5e5ctn410x280jpg-MSR {
  margin-right: 2rem;
  width: 8rem;
  height: 6rem;
  position: relative;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .auto-group-acuf-Q9o {
  width: 58rem;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .auto-group-acuf-Q9o .spanicobrdblue-vP3 {
  margin: 0rem 29.134rem 0.699rem 0rem;
  width: fit-content;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgb(158 202 238);
  background-color: #ffffff;
  border-radius: 3rem;
  justify-content: center;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .auto-group-acuf-Q9o .spanicobrdblue-vP3 .spanh2d-121b737c-Dd3 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0.3rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .auto-group-acuf-Q9o .spanicobrdblue-vP3 .spanh2d-121b737c-Dd3 .item--YvD {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  color: #666d75;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .auto-group-acuf-Q9o .spanicobrdblue-vP3 .spanh2d-121b737c-Dd3 .pseudo-TnH {
  margin-top: 0.199rem;
  width: 0.799rem;
  height: 0.799rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/community/pseudo.png');
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .auto-group-acuf-Q9o .spanicobrdblue-vP3 .item--NuF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #4567ad;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .auto-group-acuf-Q9o .spanlinkellipsis-sr1 {
  width: 100%;
  height: 1.3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #555555;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divboxprodinfo-dmK .button-N25 {
  margin: 1.9rem 0rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 0rem 2.441rem 0rem 2.458rem;
  height: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.9230769231;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .auto-group-3fm3-atq {
	margin-top: 1rem;
      box-sizing: border-box;
    width: 100%;
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 2rem;
    justify-content: center;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .auto-group-3fm3-atq .button-ugD {
  box-sizing: border-box;
  padding: 0rem 0.866rem 0rem 0.885rem;
  height: 1.72rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  color: #222222;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #222222;
  flex-shrink: 0;
}
.likeBtnDiv {
  box-sizing: border-box;
  width: 5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dddddd;
  border-radius: 3rem;
  justify-content: center;
  flex-shrink: 0;
}

.unlikeBtnDiv {
  box-sizing: border-box;
  width: 8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgb(158 202 238);
  border-radius: 3rem;
  justify-content: center;
  flex-shrink: 0;
}
.likeBtn {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  background-color: white;
  border: none;
  color: #222222;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.unlikeBtn {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  background-color: white;
  border: none;
  color: #222222;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-hVb {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #4567ad;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .divblocktitareamore-a3b {
  margin-bottom: 1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  font-size: 1.3rem;
  color: #222222;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #222222;
  box-sizing: border-box;
  flex-shrink: 0;
      align-items: center;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 {
  margin: 0rem 1.24rem 0rem 0.76rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P {
margin-bottom: 2rem;
  width: 90%;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divpage-header-hnR {
  margin: 0rem 0rem 1rem 0rem;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divpage-header-hnR .divstudyitemuserinfo1kkga-241 {
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divpage-header-hnR .divstudyitemuserinfo1kkga-241 .icon-profile-circle-m1b {
  margin-right: 0.9rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divpage-header-hnR .divstudyitemuserinfo1kkga-241 .item--5Y5 {
  display: flex;
  font-size: 1.2rem;
  color: #2e3134;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divpage-header-hnR .link-10951-ab-4-nSV {
  display: flex;
  font-size: 1rem;
  color: #8e8e8e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divmarkdown-i5F {
  box-sizing: border-box;
  padding: 1rem 1rem;
  width: 100%;
  border: solid 0.1rem #e9e9e9;
  border-radius: 0.7rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divmarkdown-i5F .for-i-in-rangen-i-0-i-n--wCu {
  display: flex;
  font-size: 1rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divmarkdown-i5F .auto-group-hknu-2EM {
  width: 47.2rem;
  height: 23.1rem;
  position: relative;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divmarkdown-i5F .auto-group-hknu-2EM .n-lena-1-1-n--mBw {
  width: 47.2rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divmarkdown-i5F .auto-group-hknu-2EM .a-1-2-3-n-2--RGV {
  width: 13.2rem;
  height: 8.7rem;
  position: absolute;
  left: 0;
  top: 2.85rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divmarkdown-i5F .auto-group-hknu-2EM .for-i-in-rangen-i-0-i-2--uBf {
  width: 17.2rem;
  height: 11.6rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-B3P .divmarkdown-i5F .a2--MpM {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK {
      margin-bottom: 2rem;
    width: 90%;
    flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy {
  margin-bottom: 1rem;
    box-sizing: border-box;
    /* padding: 0.6rem 1.7rem 0.6rem 0rem; */
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .right-585 {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .right-585 .divstudyitemuserinfo1kkga-Rhj {
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .right-585 .divstudyitemuserinfo1kkga-Rhj .icon-profile-circle-mmb {
  margin-right: 0.9rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 1rem;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .right-585 .divstudyitemuserinfo1kkga-Rhj .item--JWd {
  display: flex;
  font-size: 1rem;
  color: #2e3134;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .right-585 .link-10951-ab-4-DtV {
  display: flex;
  font-size: 0.8rem;
  color: #8e8e8e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .left-fkV {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .left-fkV .item--BD3 {
  margin-right: 1rem;
  display: flex;
  font-size: 1.2rem;
  color: #848484;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divpage-header-MSy .left-fkV .item--esK {
  display: flex;
  font-size: 0.8rem;
  color: #848484;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divmarkdown-NHX {
  box-sizing: border-box;
  padding: 1rem 1rem;
  width:100%;
  border: solid 0.1rem #e9e9e9;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divmarkdown-NHX .for-i-in-rangen-i-0-i-n--VN9 {
  font-size: 0.8rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divmarkdown-NHX .auto-group-33qd-aeV {
  width: 47.2rem;
  height: 23.1rem;
  position: relative;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divmarkdown-NHX .auto-group-33qd-aeV .n-lena-1-1-n--Kry {
  width: 47.2rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divmarkdown-NHX .auto-group-33qd-aeV .a-1-2-3-n-2--b3o {
  width: 13.2rem;
  height: 8.7rem;
  position: absolute;
  left: 0;
  top: 2.85rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divmarkdown-NHX .auto-group-33qd-aeV .for-i-in-rangen-i-0-i-2--HBX {
  width: 17.2rem;
  height: 11.6rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-9772-RZK .divmarkdown-NHX .a2--NCy {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  letter-spacing: -0.01rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-form-Sid {
  margin: 0rem 0.35rem 0rem 0.85rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-form-Sid .heading-5--NsB {
  margin-bottom: 0.901rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2800000191;
  letter-spacing: -0.0144rem;
  color: #263747;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-form-Sid .form-HUM {
  margin-left: 0.16rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-form-Sid .form-HUM .textarea-S6M {
  margin: 0rem 0.16rem 0.82rem 0rem;
  box-sizing: border-box;
  width: 100%;
  height: 8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #748490;
  background-color: #fcfdff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .divconttravelreview-E2V .commantary-f53 .divanswer-form-Sid .form-HUM .input-fUu {
  width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    /* line-height: 1.5; */
    color: #666d75;
    font-family: Inter, 'Source Sans Pro';
    /* white-space: nowrap; */
    /* border: solid 0.1rem rgba(157, 201, 238, 0.4499999881); */
    box-sizing: border-box;
    background-color: rgb(158 202 238);
    border-radius: 2px;
    flex-shrink: 0;
    font-weight: 600;
}
.wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-H3P .divcontent-AWV .button-KJZ {
  box-sizing: border-box;
     width: 5rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #666d75;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: rgb(158 202 238);
    flex-shrink: 0;
    border-radius: 0.2rem;
    text-decoration: none;
    font-weight: 600;
}
