<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/activity/activity-detail-page.css" />
	<link rel="stylesheet" href="/css/header/header.css">
	<link rel="stylesheet" href="/css/footer/footer.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C800" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,600,800">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,800">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A500%2C700" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/\all.min.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C600%2C800" />
	<script type="text/javascript" src="/js/mypage/mypageProfile.js" defer></script>
	<script type="text/javascript" src="/js/header/headerfooter.js" defer></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/js/activity/detailPage.js" defer></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

	<title>액티비티 상세 페이지</title>
	<script>
		$(document).ready(function () {
			let liked = true; // Initialize the liked state

			$('#likeButton').click(function () {
				//let activityNo = $(this).closest('.activity-item').data('activity-no');
				// Toggle the heart icons
				$('.heart-icon, .heart-fill-icon').toggle();

				// Toggle the liked state
				liked = !liked;

				// Send an AJAX request to like/unlike the activity
				$.ajax({
					type: 'POST',
					url: '/api/activityLike/like',
					data: {
						usersNo: 1, // You can change this to the desired user number
						activityNo: 1/* Get the activity number here */
					},
					success: function () {
						if (liked) {
							console.log("Activity liked.");
						} else {
							console.log("Activity unliked.");
						}
					}
				});
			});
		});
	</script>
</head>

<body class="">
	<!--header-->
	<div id="header"></div>


	<div class="container" style="margin-top: 150px;">
		<h1 class="activity-title" th:text="${activityDto.activityName}"></h1>
		<img class="star-icon" src="/images/activity/icon-star.png" alt="" width="16px" height="16px" />
		<span th:text="${averageRating}"></span>
		<div class="activity-location" th:text="${activityDto.activityAddr}"></div>
		<div class="activity-images">
			<div class="div1jdtwz4-RpM">
				<div class="button-n97" id="shareButton">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-share" viewBox="0 0 16 16">
						<path
							d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
					</svg>
					<div class="item--3qj">공유하기</div>
				</div>
				<div class="button-n97" id="likeButton">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
						class="bi bi-balloon-heart icon-bigger heart-icon" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z" />
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
						class="bi bi-balloon-heart-fill icon-bigger heart-fill-icon" viewBox="0 0 16 16"
						style="display: none;">
						<path fill-rule="evenodd"
							d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z" />
					</svg>
					<div class="item--3qj">저장하기</div>
				</div>
			</div>
		</div>
		<div class="activity-images">
			<img class="activity-image" th:attr="src=@{/images/activity/__${activityDto.activityFname1}__}, alt=''" />
			<img class="activity-image" th:attr="src=@{/images/activity/__${activityDto.activityFname2}__}, alt=''" />
			<img class="activity-image" th:attr="src=@{/images/activity/__${activityDto.activityFname3}__}, alt=''" />
		</div>

		<!--호스트 이름 불러오기-->
		<div class="activity-info bold-font">
			<p>
				<span th:text="${activityDto.businessDto.businessManager}"></span>
				<strong> 님이 호스팅하는 체험</strong>
			</p>
			<p>
				<span th:text="${activityDto.activityTime}"></span>
				시간
			</p>
		</div>

		<!--결제창 불러오기-->
		<section>
			<nav class="nav_activity_payment">
				<div class="payment-section">
					<div class="price-info">
						<div class="price" th:text="${@payController.formatCurrency(activityDto.activityPrice)}"> (최저가)
						</div>
						<div class="price-per-person">/인</div>
					</div>
					<br />
					<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
						<div class="btn-group" role="group">
							<button type="button" id="date_range_picker"
								class="btn btn-primary dropdown-toggle activity_btn" data-bs-toggle="dropdown"
								aria-expanded="false">
								<span class="bold-font">날짜 &nbsp;<br></span>
								<span id="confirm_date" class="smaller-font">날짜입력</span>
							</button>
							<!--	<input type="text" id="date_range_picker" class="form-control" style="display: none;"> -->
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-primary dropdown-toggle activity_btn"
								data-bs-toggle="dropdown" aria-expanded="false">
								<span class="bold-font">게스트 &nbsp;<br></span>
								<span id="confirm_people" class="smaller-font">게스트 수</span>
							</button>
							<ul class="dropdown-menu">
								<li class="dropdown-item">1</li>
								<li class="dropdown-item">2</li>
								<li class="dropdown-item">3</li>
								<li class="dropdown-item">4</li>
								<li class="dropdown-item">5</li>
							</ul>
						</div>
					</div>
					<br /><br />
					<a id="confirmPaymentLink" href="#">
						<button id="confirmPaymentBtn" class="btn btn-primary activity_btn bold-font" type="button"
							th:value="${activityDto.activityNo}">확인 및 결제</button>
					</a>
				</div>
			</nav>

			<article class="activity-description">
				<h2>프로그램</h2>
				<p>
					<span th:text="${activityDto.activityExplanation}"></span>
				</p>

				<!-- 호스트에게 연락하기 popup -->
				<button class="btn btn-primary custom-btn activity_btn" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
					호스트에게 <br /> 연락하기
				</button>
				<div class="collapse show" id="collapseExample">
					<div class="card card-body bold-font">
						<span th:text="${activityDto.businessDto.businessManager}">
							<strong> 님의 </strong>
						</span>
						카카오톡 연락처:
						<span th:text="${activityDto.businessDto.businessPhone}"></span>
					</div>
				</div>
			</article>
		</section>

		<!--탭 메뉴 넣어서 만들기!-->
		<div class="tab-menu">
			<button class="tab-button activity_btn" onclick="showTabContent('reviews')">리뷰 보기</button>
			<button class="tab-button active activity_btn" onclick="showTabContent('directions')">알아두어야 할 사항</button>
		</div>



		<!-- Reviews section -->
		<div id="reviewsContent" class="tab-content" style="display: none;">
			<h2>리뷰 <button class="btn btn-primary bold-font" onclick="showReviewGuidelines()">후기 관련 규정</button></h2>
			<div id="reviewGuidelinesModal" class="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">후기 관련 규정</h5>
							</button>
						</div>
						<div class="modal-body">
							<p>
								트립자바는 믿을 수 있는 후기문화를 함께 만들어가고자 합니다. 따라서 아래에 해당하는 경우에는 검토 후 삭제될 수 있습니다.
							</p>
							<ol>
								<li>욕설, 폭력성, 음란성, 상업성 등 업체나 타인에게 불쾌한 내용을 작성한 경우</li>
								<li>구매한 상품과 무관한 내용이나 동일 문자/단순 초성의 반복 등 부적합한 내용을 작성한 경우</li>
							</ol>
							<p>또한, 비정상적인 방법을 통해 후기를 작성한 경우 작성자에 법적 책임의 소지가 있음을 알려드립니다. 감사합니다.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="review-section">
				<div class="review-heading">
					<div class="review-score">
						<img class="star-icon" src="/images/activity/icon-star.png" alt="" width="16px" height="16px" />
						<span th:text="${averageRating}"></span>
						총 별점(<span th:text="${reviewCount}"></span>개)
					</div>
				</div>
				<div class="review-list">
					<div th:each="activityReviewDto : ${activityReviewDtoList}"  class="review-item">
						<div class="reviewer-info">
							<div class="reviewer-name">
								<img class="avatar-icon" alt="" width="32px" height="32px"
									style="border-radius: 50%;" />
								&nbsp; <span th:text="${activityReviewDto.usersDto.usersName}"></span> &nbsp;
								<img class="star-icon" src="/images/activity/icon-star.png" alt="" width="16px"
									height="16px" /><span th:text="${activityReviewDto.activityReviewStar}"></span>
							</div>
							<div class="review-date"
								th:text="${#temporals.format(activityReviewDto.activityReviewDate, 'yyyy-MM')}"></div>
						</div>
						<div class="review-content">
							<div class="review-text">
								<span th:text="${activityReviewDto.activityReviewContent}"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--알아두어야 할 사항-->
		<div id="directionsContent" class="tab-content" style="display: block;">
			<div class="tab-sub-content">
				<div class="tab-sub-content-left">
					<h3 class="bold-font">게스트 필수 조건</h3>
					<p>참가 가능 연령: 15세 이상<br>최대 인원 수: 총 5명</p>
				</div>
				<div class="tab-sub-content-right">
					<h3 class="bold-font">환불 정책</h3>
					<p>
						체험 시간 기준으로 7일 전까지 예약을 취소하거나,<br>
						체험 시작까지 48시간 이상이 남은 시점에 예약한 경우<br>
						예약 후 24시간 이내에 예약을 취소하면 전액 환불받을 수 있습니다.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<!--footer-->
	<div id="footer"></div>

</body>

</html>