<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>액티비티 메인 페이지</title>

	<link href="/css/activity/activity_main.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="/css/styles/header.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
	<link rel="stylesheet" href="/css/styles/footer.css" />

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
	<script type="text/javascript" src="/js/mypage/mypageProfile.js" defer></script>
	<script type="text/javascript" src="/js/header/headerfooter.js" defer></script>

	<script type="text/javascript">
		$(function () {

			var itemsToShow = 20;
			var $accommodationItems = $(".accommodation_item");

			$accommodationItems.slice(itemsToShow).addClass("hidden");

			$("#loadMoreButton").click(function () {
				var $hiddenItems = $(".accommodation_item.hidden");

				$hiddenItems.slice(0, itemsToShow).removeClass("hidden");

				if ($hiddenItems.length <= itemsToShow) {
					$("#loadMoreButton").hide();
				}
			});

		});
	</script>

</head>

<body>
	<!--header-->
	<div id="header"></div>

	<div class="search_input_box" style="margin-top: 150px;">
		<div class="search_input rooms_box">
			<div>
			</div>
			<div class="search_input_addr">
				<div><b>어디로</b></div>
				<input type="text" placeholder="어디로" id="search_addr">
			</div>
			<div class="search_input_date">
				<div><b>언제</b></div>
				<input type="text" id="date_range_picker" placeholder="날짜를 선택하세요" readonly />
			</div>
			<div>
				<div><b>인원</b></div>
				<input type="text" id="search_person" placeholder="인원 추가">
			</div>
			<div>
				<button class="search_button" id="btnSearch">
					<img src="/images/activity/icon-search.png" class="magnifying_glass">
				</button>
			</div>
		</div>
	</div>

	<!--추천 액티비티 3개-->
	<section class="padding80 margin50">
		<div id="activityListContainer">
			<div><b class="font32">놓치지 마! 에디터가 추천하는 액티비티!</b></div>
			<ul class="items third">
				<a href="/activity/16">
					<li>
						<img src="https://a0.muscache.com/im/pictures/2a16f833-464c-446c-8d74-33eb8c643975.jpg?im_w=320"
							width="100%">
						<span class="font_bold">서울에서 즐기는 가죽공예</span>
					</li>
				</a>
				<a href="/activity/19">
					<li>
						<img src="https://a0.muscache.com/im/pictures/426a8116-0b94-4407-ae87-924126c81d78.jpg?im_w=320"
							width="100%">
						<span class="font_bold">앙금찰떡 만들기</span>
					</li>
				</a>
				<a href="/activity/10">
					<li>
						<img src="https://a0.muscache.com/im/pictures/a84e92bd-68e6-4ce2-9fdf-b2ce1a377f53.jpg?im_w=320"
							width="100%">
						<span class="font_bold">가이드와 함께 카약 타기</span>
					</li>
				</a>
			</ul>
	</section>

	<!--전체 리스트-->
	<section class="padding80 margin50">
		<div id="searchedActivityList">
			<div>
				<b class="font32">전체 액티비티 목록</b>
				<div class="btn-group">
					<button class="btn btn-dar">
						<div class="btn btn-dark" id="btn_indoor">실내</div>
					</button>
					<button class="btn btn-dar">
						<div class="btn btn-dark" id="btn_outdoor">실외</div>
					</button>
				</div>
			</div>
			<ul class="items quarter">
				<li th:each="activityDto : ${activityDtoList}" class="accommodation_item">
					<a th:href="@{'/activity/' + ${activityDto.activityNo}}">
						<div class="item-container">
							<img
								th:attr="src=@{/images/activity/__${activityDto.activityFname1}__}, alt='', width='400px', height='400px'" />
						</div>
						<div class="activity-details">
							<div>
								<b class="font16" th:text="${activityDto.activityName}"></b>
							</div>
							<div class="lodging_container">
								<div class="font16 lodging_price">
									<span th:text="${@payController.formatCurrency(activityDto.activityPrice)}"></span>
								</div>
								<div class="font16 star-rating">
									<img class="star-icon" src="/images/activity/icon-star.png" alt="" width="16px"
										height="16px" />
									<span th:text="${activityDto.averageRating}"></span>
									(
									<span th:text="${activityDto.reviewCount}"></span>
									)
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<div class="add_list">
				<button type="button" id="loadMoreButton" class="btn btn-dark">더 보기</button>
			</div>
		</div>
	</section>
	</div>

	<!--footer-->
	<div id="footer"></div>

	<script>
		$(document).ready(function () {
			$("#btnSearch").click(function () {
				searchActivitiesByAddress();
			});

			$("#btn_indoor").click(function () {
				filterActivitiesByCategory(0);
			});

			$("#btn_outdoor").click(function () {
				filterActivitiesByCategory(1);
			});
		});
		
		function filterActivitiesByCategory(categoryOrdinal) {
			console.log("Filtering activities by category:", categoryOrdinal);

			var categoryValue = categoryOrdinal === 0 ? 0 : 1; // Convert ordinal to value

			$.ajax({
				type: 'GET',
				url: `/activity/filter?category=${categoryValue}`,
				success: function (data) {
					$('#searchedActivityList ul.items').html($(data).find('.accommodation_item')); // Replace existing items
					$("#loadMoreButton").hide(); // Hide the load more button
				},
				error: function (error) {
					console.error(error);
				}
			});
		}
		

		var activeSearchRequest = null;

		function searchActivitiesByAddress() {
			if (activeSearchRequest) {
				activeSearchRequest.abort(); // Cancel previous request
			}

			var searchAddr = $("#search_addr").val().trim();

			$.ajax({
				type: 'GET',
				url: `/activity/activityMain?addr=${searchAddr}`,
				success: function (data) {
					$('#searchedActivityList ul.items').html($(data).find('.accommodation_item')); // Replace existing items
					$("#loadMoreButton").hide(); // Hide the load more button
				},
				error: function (error) {
					console.error(error);
				}
			});
		}

		$(document).ready(function () {
			$("#btnSearch").click(function () {
				searchActivitiesByAddress();
			});


			flatpickr("#date_range_picker", {
				dateFormat: 'Y/m/d',
				mode: 'range',
				minDate: 'today',
				onClose: function (selectedDates, dateStr, instance) {
					if (selectedDates.length === 2) {
						var startDate = selectedDates[0].toLocaleDateString();
						var endDate = selectedDates[1].toLocaleDateString();
						var formattedDateRange = startDate + ' ~ ' + endDate;
						$("#date_range_picker").val(formattedDateRange);
					}
				},
				locale: {
					weekdays: {
						shorthand: ['일', '월', '화', '수', '목', '금', '토'],
						longhand: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']
					},
					months: {
						shorthand: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
						longhand: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
					}
				}
			});
		});
	</script>

</body>

</html>