<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>결제 및 예약 확인</title>
	<link rel="stylesheet" href="/css/activity/priceCheck.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A500%2C700" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="/css/header/header.css">
	<link rel="stylesheet" href="/css/footer/footer.css">
	
	<script type="text/javascript"  src="/js/mypage/mypageProfile.js" defer></script>
    <script type="text/javascript"  src="/js/header/headerfooter.js" defer></script>
	
	<style>
		.check_content {
			text-align: left;
		}

		.check_content {
			text-align: left;
		}

		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			margin: 0;
		}

		.center-wrapper {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 80px;
		}

		.footer {
			font-size: 1.4px !important;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			color: #4e5861;
			font-family: 'Noto Sans KR', 'Source Sans Pro';
			padding: 20px 0;
			text-align: center;
			position: relative;
			width: 100%;
			margin-top: auto;
		}
	</style>
	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<!-- iamport.payment.js -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

	<script type="text/javascript">
    $(function () {
        var IMP = window.IMP; // 생략 가능
        IMP.init("imp44765006"); // 예: imp00000000     

        $("#payment-button").click(function () {
            // IMP.request_pay(param, callback) 결제창 호출
            IMP.request_pay({ // param
                pg: "kcp",
                pay_method: "card",
                merchant_uid: "ORD" + new Date().getTime(),
                name: "",
                amount: 100,
                buyer_email: "",
                buyer_name: "",
                buyer_tel: "010-1111-1111",
                buyer_addr: "서울특별시 강남구 신사동",
                buyer_postcode: "01181"
            }, function (res) { // callback
                if (res.success) {
                    console.log("결재완료");
                    
                    // Send an AJAX request to reserve and confirm the activity
                    $.ajax({
                        type: 'POST',
                        url: '/api/activityRv/cardConfirm',
                        data: {
                            usersNo: 1,
                            activityNo: 1,
                            activityRvDate: '2023-08-12',
                            activityRvPeople: 2,
                            activityRvPhone: '55555',
                            imp_uid: res.imp_uid,
                            merchant_uid: res.merchant_uid,
                            paid_amount: res.paid_amount,
                            apply_num: res.apply_num
                        },
                        success: function (response) {
                            url = "/confirm?imp_uid=" + res.imp_uid + "&merchant_uid=" + res.merchant_uid + "&paid_amount=" + res.paid_amount + "&apply_num=" + res.apply_num;
                            location.href = response;
                        },
                        error: function (error) {
                            // Handle error response
                            console.error(error);
                        }
                    });

                } else {
                    console.log("결제실패");
                    console.log('에러내용' + res.error_msg);
                }
            });
        });
        const checkbox = document.getElementById('agreeCheckbox');
        var paymentButton = document.getElementById('payment-button');
        const nameInput = document.getElementById('nameInput');
        const phoneInput = document.getElementById('phoneInput');
        const peopleCountSelect = document.getElementById('peopleCountSelect');

        // 초기 상태에서 버튼 비활성화
        paymentButton.disabled = 'true';

        // 함수를 만들어 필수 입력 항목을 체크하고 버튼 활성화 여부를 결정
        function checkRequiredFields() {
            if (
                nameInput.value.trim() !== '' &&
                phoneInput.value.trim() !== '' &&
                peopleCountSelect.value.trim() !== ''
            ) {
                // 필수 입력 항목이 모두 채워졌을 때 버튼 활성화
                paymentButton.disabled = false;
            } else {
                // 필수 입력 항목 중 하나라도 비어있으면 버튼 비활성화
                paymentButton.disabled = true;
            }
        }

        // 초기 상태에서 버튼 비활성화
        checkRequiredFields();

        // 각 필드에 change 이벤트 리스너 추가
        nameInput.addEventListener('change', checkRequiredFields);
        phoneInput.addEventListener('change', checkRequiredFields);
        peopleCountSelect.addEventListener('change', checkRequiredFields);

        // 체크박스에 change 이벤트 리스너 추가
        checkbox.addEventListener('change', function () {
            // 체크박스가 선택되었을 때 실행될 동작
            checkRequiredFields();
        });

    });
    
		
		
		//총 결제 금액 곱해주기 
		 document.addEventListener("DOMContentLoaded", function () {
        const peopleCountSelect = document.getElementById('peopleCountSelect');
        const activityPriceElement = document.querySelector('.activity-time2');
        const paymentAmountElement = document.querySelector('.payment-amount');

        peopleCountSelect.addEventListener('change', function () {
            const selectedPeopleCount = parseInt(peopleCountSelect.value);
            const activityPrice = parseFloat(activityPriceElement.textContent.replace(/[^\d.-]/g, ''));
            const totalPrice = selectedPeopleCount * activityPrice;

            // Update the payment amount with formatted currency
            paymentAmountElement.textContent = formatCurrency(totalPrice);
        });

        // Function to format currency with commas and currency symbol
        function formatCurrency(value) {
            return new Intl.NumberFormat('ko-KR', {
                style: 'currency',
                currency: 'KRW'
            }).format(value);
        }
    });
    
    
</script>
</head>

<body>
	<!--header-->
   <div id="header"></div>


	<div class="center-wrapper" style="margin-top: 150px;">
		<div class="container">
			<div class="left-activity">
				<nav class="nav_activity_priceCheck">
					<a href="#" onclick="history.go(-1);">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
							class="bi bi-chevron-left" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
						</svg>
					</a>
					<div class="activity-title">&nbsp; 예약자 정보</div> <br>

					<form>
						<div class="">
							<div class="input-group flex-nowrap">
								<input type="text" id="nameInput" name="name" class="qanda1-input"
									placeholder="예약자명 입력해주세요." /> <br />
							</div><br>

							<div class="input-group flex-nowrap">
								<input type="text" id="phoneInput" name="phone" class="qanda1-input"
									placeholder="휴대폰 번호를 숫자로만 입력해주세요." required /><br />
							</div><br>

							<form action="" method="">
								<span class="title_s">&nbsp; 인원 수</span> <br />
								<select class="form-select" aria-label="Default select example" name="peopleCount"
									id="peopleCountSelect" style="margin-left: 10px;">
									<option selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								<br />
								<hr />
								<div class="activity-guidelines">
									<div class="title_s">
										<p><input type="checkbox" class="checkbox" id="agreeCheckbox" />&nbsp; 확인 및 결제
											버튼을 선택함으로써 <br /> &nbsp;&nbsp;&nbsp;&nbsp; 다음 사항에 동의합니다:</p>
										<br />
										<ul>
											<li>환불 정책</li>
											<li>게스트 환불 정책</li>
											<li>자바치노의 사회적 거리 두기 및 기타 코로나19 </br> 관련 가이드라인</li>
										</ul>
									</div>
								</div>
							</form>
					</form>
				</nav>
			</div>

			<article class="article_activity_payment">
				<div class="payment-box" style="margin-top: 150px;">
					<div class="activity-title-container">
						<img class="activity-image"
							th:attr="src=@{/images/activity/__${activityDto.activityFname1}__}, alt=''" />
						<div class="activity-title" th:text="${activityDto.activityName}">경복궁 스냅 사진 투어</div>
					</div> <br />
					<div class="activity-date1">예약날짜 </div>
					<div th:text="${startDate} +'~'+${endDate}"></div> <br />
					<div class="activity-time1">1인금액 </div>
					<div class="activity-time2" th:text="${@payController.formatCurrency(activityDto.activityPrice)}">
						(최저가)</div><br />
					<div class="payment-title">총 결제 금액(VAT 포함)</div>
					<div class="payment-amount"></div>
					<div class="activity-rule">* 결제완료 후 예약자 이름으로 체크인 하시면 됩니다.</div> <br />
				</div>
				<button type="button" class="btn btn-primary btn-lg" id="payment-button" style="margin-top: 150px;">확인 및
					결제</button>
				<!--<form action="/confirm" method="post" id="pay">
					<input type="hidden" name="imp_uid" id="imp_uid">
					<input type="hidden" name="merchant_uid" id="merchant_uid">
					<input type="hidden" name="paid_amount" id="paid_amount">
					<input type="hidden" name="apply_num" id="apply_num">
				</form>-->
			</article>
		</div>
	</div>

	<!--footer-->
    <div id="footer" style="margin-top: 250px;"></div>

</body>

</html>