<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A500%2C700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mypage/mypageTravel.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>mypage-profile</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/header/headerfooter.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(function(){
			$("#saveReviewBtn").click(function(){
				alert("저장되었습니다.");
			})
		})	
	</script>

</head>
<body>
    <!-- Header -->
    <div id="header"></div>
    
    <!-- Mypage_Profile -->
    <div class="container overflow-hidden text-center" id="MyPage_Profile">
        <div class="title">
            <p>My Travel</p>
        </div>
        
        <div class="row gx-5">
            <!-- left -->
            <div class="col-3">
                <div class="p-3">
                    <img th:if="${u.usersFname != null and u.usersFname != ''}"
                        th:src="@{/images/mypage/__${u.usersFname}__}" id="userImg" style="border-radius: 5px;"/>
                    <img th:unless="${u.usersFname != null and u.usersFname != ''}"
                        src="/images/mypage/user.png" id="userImg" style="border-radius: 5px;"/>
                    <h5 id="userName" th:text="${u.usersName}"></h5>
                    <div class="row" id="profileLeft">
                        <div class="col">
                            <a href="/mypage/mypageProfile">
                                <span><i class="fa-solid fa-gear fa-sm" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;프로필관리</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="/mypage/mypageWishlist_Accomodation">
                                <span><i class="fa-regular fa-heart fa-sm" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;위시리스트</span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="/mypage/mypageTravel_Accomodation">
                                <span><i class="fa-solid fa-suitcase-rolling fa-sm" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;내여행</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- right -->
            <div class="col-6">
                <div style="display: flex; align-items: flex-start; margin-left: 10px; column-gap: 10px;">
                    <a href="/mypage/mypageTravel_Accomodation" style="text-decoration: none;">
                        <button style="border-radius: 10px; border-color: transparent;">숙박</button>
                    </a>
                    <a href="/mypage/mypageTravel_Activity" style="text-decoration: none;">
                        <button style="border-radius: 10px; border-color: transparent;">액티비티</button>
                    </a>
                </div>
                <div class="p-1">
                    <div class="row d-grid gap-3">
                        <!-- card2_1 -->
                        <div class="col-xl-12" id="cards">
                            <div th:each="payAcc : ${payAccList}">
                                <div class="card text-center shadow-sm bg-body-tertiary rounded" style="margin-bottom: 20px;">
                                    <div class="card-header" style="display: flex; justify-content: left; align-items: center;">
                                        <span class="badge bg-secondary">
                                            <span th:if="${#dates.createNow().before(payAcc.accomodation_rv_date)}">이용예정</span>
                                            <span th:unless="${#dates.createNow().before(payAcc.accomodation_rv_date)}">이용완료</span>
                                        </span>
                                        <div th:text="${#dates.format(payAcc.accomodation_rv_date, 'yyyy-MM-dd')}"></div>
                                    </div>
                                    <div class="card-body">
                                        <div class="container text-center">
                                            <div class="row align-items-center g-1">
                                                <div class="col-3">
                                                    <img th:src="@{/images/accomodation/__${payAcc.accomodation_file_fname1}__}" class="img-thumbnail rounded" style="max-width: 120px; max-height: 120px"/>
                                                </div>
                                                <div class="col-6" style="text-align: left;">
                                                    <p class="card-text"><div th:text="*{payAcc.accomodation_name}"></div></p>
                                                </div>
                                                <div class="col-3 d-flex justify-content-end">
                                                    <div class="d-grip gap2">
                                                        <div class="d-grip gap2">	
                                                            <div th:unless="${#dates.createNow().before(payAcc.accomodation_rv_date)}">
                                                                <!-- 리뷰 작성 모달 -->
                                                                <a href="#" class="btn btn-sm btn-light mb-3 d-block" id="writereviewBtn" data-bs-toggle="modal" th:data-bs-target="'#reviewModal-' + ${payAcc.pay_no}" data-pay-no="${payAcc.pay_no}">리뷰 작성하기</a>  
                                                                

																<div class="modal" th:id="'reviewModal-' + ${payAcc.pay_no}">
																    <div class="modal-dialog">
																        <div class="modal-content">
																			<form id="reviewForm" action="/review/insert/accomodation" method="post">
																            <div class="modal-header" style="background-color: rgb(162, 190, 231);">후기 작성하기</div>
																            <div class="modal-body">
																                <!-- 내용 입력 폼 -->
																                    <div class="receiptImg" style="margin: 10px;">
																                        <img th:src="@{/images/accomodation/__${payAcc.accomodation_file_fname1}__}" style="width: 100px; height: 100px;">
																                        <div th:text="*{payAcc.accomodation_name}"></div>
																        				<div th:text="${#dates.format(payAcc.accomodation_rv_date, 'yyyy-MM-dd')}"></div>
																                    </div>
																                    <div class="row">
																                        <div class="col">
																							<input type="number" id="starInput" name="accomodationReviewStar" placeholder="평점" min="0" max="5" step="0.5" class="form-control" required>
																                        </div>
																                    </div>
																                    <input th:value="${payAcc.accomodation_no}" type="hidden" name="accomodationNo">
																                    <input th:value="${u.usersNo}" type="hidden" name="usersNo">
																                    <textarea name="accomodationReviewContetnt" cols="55" rows="3" class="form-control" placeholder="리뷰를 작성해주세요." required></textarea>
																            </div>
																            <div class="modal-footer">
																                <input type="submit" class="btn" style="background-color: #ffffff;border-color: black;" data-bs-dismiss="modal" id="saveReviewBtn" value="완료"></input>
																                <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="취소"></input>
																            </div>
																            </form>
																        </div>
																    </div>
																</div>                                                                
                                                            </div>

															<!-- 예약 취소 모달 -->
                                                            <div th:if="${#dates.createNow().before(payAcc.accomodation_rv_date)}">
                                                            	<a href="#" class="btn btn-sm btn-light mb-3 d-block" id="cancelBtn" data-bs-toggle="modal" th:data-bs-target="'#cancelModal-' + ${payAcc.pay_no}">예약 취소하기</a>
																<div class="modal" th:id="'cancelModal-' + ${payAcc.pay_no}">saveReviewBtn
																    <div class="modal-dialog">
																        <div class="modal-content">
																            <div class="modal-header" style="background-color: rgb(162, 190, 231);">
																                <h4 class="modal-title">예약취소</h4>
																                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
																            </div>
																            <div class="modal-body">
																                <div class="cancelImg" style="margin: 10px; display: flex; align-items: center; justify-content: center;">
																                    <img th:src="@{/images/accomodation/__${payAcc.accomodation_file_fname1}__}" style="width: 100px; height: 100px;">
																                    <div th:text="*{payAcc.accomodation_name}"></div>
																                </div>
																                <p style="text-align: center;">예약을 취소하시겠습니까?</p>
																            </div>
																            <div class="modal-footer" style="background-color: rgb(162, 190, 231);">
																                <form id="deleteForm" th:action="@{/pay/delete/accomodation/{payNo}(payNo=${payAcc.pay_no})}" method="post">
																                    <button type="submit" class="btn" style="background-color: #ffffff;">예</button>
																                </form>
																                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
																            </div>
																        </div>
																    </div>
																</div>
															</div>
                            
                                                            <!-- 영수증 확인 모달 -->                                                           
                                                            <a href="#" class="btn btn-sm btn-light mb-3 d-block" id="receiptBtn" data-bs-toggle="modal" th:data-bs-target="'#receiptModal-' + ${payAcc.pay_no}">영수증 확인하기</a>
	                                                            <div class="modal" th:id="'receiptModal-' + ${payAcc.pay_no}">
	                                                                <div class="modal-dialog">
	                                                                    <div class="modal-content">
	                                                                        <div class="modal-header" style="background-color: rgb(162, 190, 231);">
	                                                                            <div data-bs-theme="dark">
	                                                                                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
	                                                                            </div>
	                                                                        </div>
	                                                                        <div class="modal-body" style="margin: 10px;">
	                                                                            <h1>결제 영수증</h1>
	                                                                            <div class="receiptImg" style="margin: 50px;">
	                                                                                <img th:src="@{/images/accomodation/__${payAcc.accomodation_file_fname1}__}" style="width: 100px; height: 100px;">
	                                                                                <div th:text="*{payAcc.accomodation_name}"></div>
	                                                                            </div>
	                                                                            <div class="receiptText" style="margin: 15px;">
	                                                                                <h5>결제번호</h5>
	                                                                                <span><div th:text="*{payAcc.pay_no}"></div></span>
	                                                                                <hr>
	                                                                                <h5>결제일</h5>
											    									<div th:text="${#dates.format(payAcc.accomodation_rv_date, 'yyyy-MM-dd')}"></div>		                                	
															                        <hr>
															                        <h5>결제금액</h5>
															                        <span><div th:text="*{payAcc.pay_price}"></div></span>
															                    </div>
															                </div>
															            </div>
															        </div>
															    </div>
	                                                		</div>
														</div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                            	</div>
	                            </div>							
	                        </div>                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    
	<!--footer-->
    <div id="footer">
			
<!-- 리뷰 보기 모달 열기 링크 												
	<div th:if="${payAcc.accomodation_review_content != null and not #strings.isEmpty(payAcc.accomodation_review_content)}">
	    
	    <a href="#" class="btn btn-sm btn-light mb-3 d-block" data-bs-toggle="modal" th:data-bs-target="'#reviewViewModal-' + ${payAcc.pay_no}">리뷰 보기</a>
	    
	    <div class="modal" th:id="'reviewViewModal-' + ${payAcc.pay_no}">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header" style="background-color: rgb(162, 190, 231);">
	                    <div data-bs-theme="dark">
	                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
	                    </div>
	                </div>
	                <div class="modal-body" style="margin: 10px;">
	                    <h1>My Review</h1>
	                    <div class="receiptImg" style="margin: 50px;">
	                        <img src="images/mypage/haribo.png" style="width: 100px; height: 100px;">
	                        <div th:text="*{payAcc.accomodation_name}"></div>
	                    </div>
	                    <div class="receiptText" style="margin: 15px;">
	                        <div class="row">
	                            <div class="col">star</div>
	                            <div class="col">
									<div th:text="${#dates.format(payAcc.accomodation_rv_date, 'yyyy-MM-dd')}"></div>		                                	
								</div>
	                        </div>
	                        <div>
	                            <span>
									<div th:text="${payAcc.accomodation_review_content}"></div>
								</span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
-->

  </body>
</html>
