<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/accomodation/accomodationMain.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/header/header.css">
	<link rel="stylesheet" href="/css/footer/footer.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A500%2C700" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script type="text/javascript" src="/js/accomodation/accomodationMain.js" defer></script>
	<script type="text/javascript" src="/js/mypage/mypageProfile.js" ></script>
	<script type="text/javascript" src="/js/header/headerfooter.js" ></script>

	<title>accomodation page</title>
</head>

<body>
	
	<div id="header"></div>
	

	<div class="search_input_box">
		<div class="search_input">
			<div>
			</div>
			<div class="search_input_addr">
				<div><b>어디로</b></div>
				<input type="text" id="search_addr" placeholder="어디로">
			</div>
			<div id="date_range_picker" class="search_input_date">
				<div><b>언제</b></div>
				<input type="text" id="date_range_picker_input" class="daterangepicker-container" readonly>
			</div>
			<div>
				<div><b>인원</b></div>
				<input type="text" id="search_person" placeholder="인원 추가">
			</div>
			<div>
				<button id="btnSearch" class="search_button">
					<img src="https://i.ibb.co/kHJGMWF/icon-search.png" class="magnifying_glass">
				</button>
			</div>
		</div>
	</div>



	<section class="padding80 margin50">
		<div><b class="font32">추천 숙소 목록</b></div>
		<ul class="items third">
			<a href="#">
				<li>
					<img src="https://a0.muscache.com/im/pictures/2a16f833-464c-446c-8d74-33eb8c643975.jpg?im_w=320"
						width="100%">
					<span class="font_bold">한국 젊은이들의 삶 속으로</span>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="https://a0.muscache.com/im/pictures/426a8116-0b94-4407-ae87-924126c81d78.jpg?im_w=320"
						width="100%">
					<span class="font_bold">예술가와 함께 찾아보는 서울의 숨겨진 얼굴</span>
				</li>
			</a>
			<a href="#">
				<li>
					<img src="https://a0.muscache.com/im/pictures/a84e92bd-68e6-4ce2-9fdf-b2ce1a377f53.jpg?im_w=320"
						width="100%">
					<span class="font_bold">야간 요새 하이킹 & 전통의 맛</span>
				</li>
			</a>
		</ul>
	</section>

	<section class="padding80 margin50">
		<div>
			<div class="test">
				<b class="font32">오늘은 여기서 자볼래?</b>
				
				<div class="btn_filter">
					<button type="button" class="btn btn-primary filter_btn_color" data-bs-toggle="modal"
						data-bs-target="#myModal">
						<img class="icon_filter" src="https://i.ibb.co/0XpWnJt/icon-filter.png" alt="icon-filter">
						<div class="btn_filter_font">필터</div>
					</button>
				</div>
			</div>
			
			<div class="modal" id="myModal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">필터</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>

						<div class="modal-body">
							<h3>건물 유형</h3>
							<div class="pad">
								<button class="filter_icon" type="button">
									<img src="https://i.ibb.co/nsBxTdQ/hotel-icon.png" alt="" class="">
									<span class="">호텔</span>
								</button>
							</div>

							<div class="pad">
								<button class="filter_icon" type="button">
									<img src="https://i.ibb.co/GkrMLSX/pension-icon.png" alt="pension-icon">
									<span class="">펜션</span>
								</button>
							</div>

							<div class="pad">
								<button class="filter_icon" type="button">
									<img src="https://i.ibb.co/BP254th/guesthouse-icon.png" alt="" class="">
									<span class="">게스트 하우스</span>
								</button>
							</div>
							<h3>편의시설</h3>
							<div class="accmodation_facilities">
								<div class="accmodation_checkbox_filter_div">
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>스파</div>
									</label>
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>키친</div>
									</label>
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>바베큐</div>
									</label>
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>수영장</div>
									</label>
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>와이파이</div>
									</label>
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>주차</div>
									</label>
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>반려견 동반</div>
									</label>
									<label class="accmodation_checkbox_filter_label">
										<input class="accmodation_checkbox_filter_input" type="checkbox">
										<div>노래방</div>
									</label>
								</div>
							</div>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="">검색</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		<ul class="items quarter">
			<li th:each="accomodationList : ${accomodationList}" class="accommodation_item">
				<a th:href="@{'/accomodation/' + ${accomodationList.accomodationNo}}">
					<div>
						<div class="">
							<img th:src="@{/images/accomodation/__${accomodationList.accomodationFileFname1}__}"
								width="100%">
						</div>
						<div class="">
							<div class="">
								<b class="font18" th:text="${accomodationList.accomodationName}"></b>
							</div>
							<div class="lodging_container">
								<div class="font18 lodging_price" th:text="₩+${accomodationList.accomodationPrice}+원">
								</div>
								<div class="font18">
									<img src="https://i.ibb.co/THBKjdt/icon-star.png" alt="" width="16px" height="16px" />
									<span
										th:text="${accomodationList.avgReviewStar + '(' + accomodationList.reviewCount + ')'}"></span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
		<div class="add_list">
			<button type="button" id="loadMoreButton" class="btn btn-dark">더 보기</button>
		</div>
	</section>

	<div id="footer"></div>
</body>

</html>