.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4px;
    color: #4e5861;
    font-family: Noto Sans KR, 'Source Sans Pro';
    margin: 50px;
    margin-top: 80px;
}

