<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A500%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
    <link rel="stylesheet" href="/css/footer/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>header</title>

</head>
<body>
	 <!--footer-->
    <div class="footer grid-line">
        <div class="footer-text">
            상호명 (주)강원치노 | 대표 자바치노 | 개인정보보호책임자 김자반 | 사업자등록번호 200-81-00000 사업자정보확인 | 통신판매업신고번호 2023-서울마포-1234 | 관광사업등록번호 : 제2023-99호
            <br/>
            주소 : 서울특별시 마포구 청춘대로 79 20층 (행복동, 자바치노아자자빌딩) | 이메일 help@javachino.com | 광고/제휴 문의 partnership@javachino.com | 고객문의 070-1234-5678
            <br/>
            <br/>
            자사는 서울특별시관광협회 공제영업보증보험에 가입되어 있습니다. 영업보증보험: 1.5억원 / 기획여행보증: 2억원
            <br/>
            마이리얼트립은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 상품·거래정보 및 거래에 대하여 책임을 지지않습니다.
            <br/>
            부득이한 사정에 의해 확정된 여행일정이 변경되는 경우 여행자의 사전 동의를 받습니다.
        </div>
    </div>
</body>
</html>