<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>BOARDWRITING</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="/css/community/boardwriting.css"/>
  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
    <!--썸머노트-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
  <!--여기까지-->
      <script>

document.addEventListener("DOMContentLoaded", function() {
    var blogSelect = document.getElementById("blog");
    var blogCategory = document.getElementById("blogCategory");
    var boardCategory = document.getElementById("boardCategory");

    function updateCategoryDisplay() {
        if (blogSelect.checked) {
            blogCategory.style.display = "flex";
            boardCategory.style.display = "none";
        } else {
            blogCategory.style.display = "none";
            boardCategory.style.display = "flex";
        }
    }

    blogSelect.addEventListener("change", updateCategoryDisplay);
    updateCategoryDisplay(); // 초기화 시에도 실행

    var boardSelect = document.getElementById("board");

    boardSelect.addEventListener("change", updateCategoryDisplay);
});
  
        //파일이 있을 시 
   var url;
   //summernote 내용 입력하기
    $(document).ready(function() {
   //여기 아래 부분
   $('#summernote').summernote({
         height: 500,                 // 에디터 높이
         minHeight: 500,             // 최소 높이
         maxHeight: null,             // 최대 높이
         focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
         lang: "ko-KR",               // 한글 설정
         placeholder: '최대 2048자까지 쓸 수 있습니다',   //placeholder 설정
         callbacks: {   //여기 부분이 이미지를 첨부하는 부분
            onImageUpload : function(files) {
               console.log(files)
               uploadSummernoteImageFile(files[0],this);
            }

         }
      });
      
   });


   function uploadSummernoteImageFile(file, editor) {
	  console.log("upload함수는 오나.."+file+","+editor)
      data = new FormData();
      data.append("file", file);
      $.ajax({
         data : data,
         type : "POST",
         url : "/uploadSummernoteImageFile",
         contentType : false,
         processData : false,
         success : function(response) {
			 console.log("ajax 실행됐지?"); // 서버 응답 확인
			 console.log(response); // 서버 응답 확인
            // JSON 문자열을 JSON 객체로 파싱
               var jsonResponse = JSON.parse(response);
               url=jsonResponse.url;
               console.log(url);
               // url에 접근하여 이미지 삽입
               $(editor).summernote('insertImage', jsonResponse.url);
            
         }
      });
   }

   
    </script>
</head>
<body>
<div class="boardwriting-WSD">
  <form class="page-CZw" action="/updateCommunity" method="post">
    <div class="section-j45">
      <div class="divpostregisterpostcontentwrapper3bxz6-57w">커뮤니티 글 작성하기</div>
      <div class="list-VxM">
        <div class="item-3ys">
          <div class="label--oCM">구분</div>
		          
		<div class="divselectcontrol-uWH">
			<div class="radiogroup">
			  <input class="" type="radio" name="communitySelect" id="blog" value="BLOG" th:checked="${c.communitySelect.name() == 'BLOG'}">
			  <label class="radioLabel" for="blog">블로그</label>
			</div>
			<div class="radiogroup">
			  <input class="" type="radio" name="communitySelect" id="board" value="BOARD" th:checked="${c.communitySelect.name() == 'BOARD'}">
			  <label class="radioLabel" for="board">소통해요</label>
			</div>
		</div>
        </div>
        <div class="item-gfT">
          <div class="label--3W1">카테고리</div>
          <div class="divselectcontrol-NHP" id="blogCategory">
			<div class="radiogroup">
			  <input class="" type="radio" name="communityCategory" id="mymoney" value="MYMONEY" th:checked="${c.communityCategory.name() == 'MYMONEY'}">
			  <label class="radioLabel" for="mymoney">내돈내산</label>
			</div>
			<div class="radiogroup">
			  <input class="" type="radio" name="communityCategory" id="SPONSORSHIP" value="SPONSORSHIP" th:checked="${c.communityCategory.name() == 'SPONSORSHIP'}">
			  <label class="radioLabel" for="SPONSORSHIP">추천해요</label>
			</div>
		</div>
		<div class="divselectcontrol-NHP" id="boardCategory" style="display: none;">
			<div class="radiogroup">
			  <input class="" type="radio" name="communityCategory" id="TRAVELMATE" value="TRAVELMATE" th:checked="${c.communityCategory.name() == 'TRAVELMATE'}">
			  <label class="radioLabel" for="TRAVELMATE">여행메이트</label>
			</div>
			<div class="radiogroup">
			  <input class="" type="radio" name="communityCategory" id="INFORMATION" value="INFORMATION" th:checked="${c.communityCategory.name() == 'INFORMATION'}">
			  <label class="radioLabel" for="INFORMATION">정보</label>
			</div><div class="radiogroup">
			  <input class="" type="radio" name="communityCategory" id="ETC" value="ETC" th:checked="${c.communityCategory.name() == 'ETC'}">
			  <label class="radioLabel" for="ETC">기타</label>
			</div>
		</div>

        </div>
      </div>
      <div class="list-xmP">
        <div class="item-8A5">
          <div class="label--55K">예약내역</div>

			  
			    <button type="button" class="divselectcontrol-Prh" data-bs-toggle="dropdown">
			      예약 내역을 선택해주세요
			    </button>
			    <ul class="dropdown-menu" style="width: 48.85rem;	">
			      <li><a class="dropdown-item" href="#">Link 1</a></li>
			      <li><a class="dropdown-item" href="#">Link 2</a></li>
			      <li><a class="dropdown-item" href="#">Link 3</a></li>
			    </ul>

        </div>
        <div class="item-CZF">
          <div class="label--ZPo">지역</div>
          <input class="divselectcontrol-tgy" id="communityAddr" name="communityAddr" th:value="${c.communityAddr}">
          </input>
        </div>
      </div>
      <div class="item-UfB">
      <div style="
    width: 100rem;
    display: flex;
    justify-content: flex-start;
">
        <div class="label--E8Z">제목</div>
        </div>
        <input type="text" class="divselectcontrol-9FX" placeholder="제목을 입력하세요" name="communityTitle" th:value="${c.communityTitle}">
        </input>
      </div>
    </div>
    <div class="auto-group-m9mt-7k5">
      <div class="section-qg5">
        <div class="label--a7s">내용</div>
        <!--썸머노트 시작-->
        <div>
        <textarea id="summernote" name="communityContent"  th:utext="${c.communityContent}"></textarea>
</div>
    <!--끝-->
      </div>
      <div class="section-75j">
		  <input type="hidden" th:value="${c.communityNo}" name="communityNo">
        <a th:href="@{'/main/board/1'}" class="button-Ew3">취소</a>
        <input type="submit" value="글 수정" class="button-YB3">
      </div>
    </div>
  </form>
</div>
</body>